.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    padding: 1rem 0;
    box-sizing: border-box;
    font-size: small;
}
