.header{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 1rem;
    flex-wrap: wrap;
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.header__logo--titulo{
    font-size: 1rem;
    font-weight: 700;
}

.header__contacto{
    font-weight: 400;
    color: rgb(154, 215, 214);
    padding: .2rem ;
    border: 1px solid whitesmoke;
    border-radius: 8px;
}

@media screen and (max-width: 403px){
    .header{
        justify-content: space-around;
        height: auto;
    }
}

@media screen and (min-width: 768px){
    .header{
        justify-content: space-between;
    }

    .header__nav{
        font-size: 1.5rem;
    }

    .header__contacto{
        padding: none;
        border: none;
    }

    .header__contacto:hover{
        text-decoration: underline;
        color: rgb(154, 215, 214);
        
    }

}